.LoginContainer {
 display: flex;
 justify-items: center;
 width: 100%;
}

.LoginImage {
  width: 60%;
}

.Logo {
  width: 5em;
  margin-right: 10px;
}

.Header {
  display: flex;
  justify-items: center;
  align-items: center;
  margin-top: 1em;
}

span {
  width: 100%;
}

.settings {
  width: 20px;
}
