@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');

.LoginContainer {
 display: flex;
 justify-items: center;
 width: 100%;
}

.LoginImage {
  width: 60%;
}

.Logo {
  width: 5em;
  margin-right: 10px;
}

.Header {
  display: flex;
  justify-items: center;
  align-items: center;
  margin-top: 1em;
}

span {
  width: 100%;
}

.settings {
  height: 2.5em;
  margin-right: 20px;
}

.MainHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.my-masonry-grid {
  display: -webkit-box; /* Not needed if autoprefixing */
  display: -ms-flexbox; /* Not needed if autoprefixing */
  display: flex;
  margin-left: -30px; /* gutter size offset */
  width: auto;
}
.my-masonry-grid_column {
  padding-left: 30px; /* gutter size */
  background-clip: padding-box;
}

/* Style your items */
.my-masonry-grid_column > div { /* change div to reference your elements you put in <Masonry> */
  background: grey;
  margin-bottom: 30px;
}

.tile {
  width: 100%;
  border-radius: 20px;
}

.tile:hover {
  transform: scale(1.02);
  cursor: pointer;
}

